{
    "root": true,
    "plugins": ["prettier"],
    "extends": [
        "@nuxtjs",
        "@nuxtjs/eslint-config-typescript",
    ],
    "ignorePatterns": ["node_modules/"],
    "rules": {
        "vue/no-multiple-template-root": "off"
    }
}