@import 'tailwindcss';

@theme {
  --radius: 0.625rem;
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.145 0 0);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.145 0 0);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.145 0 0);
  --color-primary: oklch(0.205 0 0);
  --color-primary-foreground: oklch(0.985 0 0);
  --color-secondary: oklch(0.97 0 0);
  --color-secondary-foreground: oklch(0.205 0 0);
  --color-muted: oklch(0.97 0 0);
  --color-muted-foreground: oklch(0.556 0 0);
  --color-accent: oklch(0.97 0 0);
  --color-accent-foreground: oklch(0.205 0 0);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-border: oklch(0.922 0 0);
  --color-input: oklch(0.922 0 0);
  --color-ring: oklch(0.708 0 0);
  --color-chart-1: oklch(0.646 0.222 41.116);
  --color-chart-2: oklch(0.6 0.118 184.704);
  --color-chart-3: oklch(0.398 0.07 227.392);
  --color-chart-4: oklch(0.828 0.189 84.429);
  --color-chart-5: oklch(0.769 0.188 70.08);
  --color-sidebar: oklch(0.985 0 0);
  --color-sidebar-foreground: oklch(0.145 0 0);
  --color-sidebar-primary: oklch(0.205 0 0);
  --color-sidebar-primary-foreground: oklch(0.985 0 0);
  --color-sidebar-accent: oklch(0.97 0 0);
  --color-sidebar-accent-foreground: oklch(0.205 0 0);
  --color-sidebar-border: oklch(0.922 0 0);
  --color-sidebar-ring: oklch(0.708 0 0);
}

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  --color-background: #07090f;
  --color-foreground: #ffffff;
  --color-card: #111827;
  --color-card-foreground: #ffffff;
  --color-popover: #111827;
  --color-popover-foreground: #ffffff;
  --color-primary: #ec4899;
  --color-primary-foreground: #000000;
  --color-secondary: #db2777;
  --color-secondary-foreground: #ffffff;
  --color-muted: #201a32;
  --color-muted-foreground: #94a3b8;
  --color-accent: #2563eb;
  --color-accent-foreground: #ffffff;
  --color-destructive: #dc2626;
  --color-border: rgb(255 255 255 / 8%);
  --color-input: rgb(255 255 255 / 12%);
  --color-ring: #ec4899;
  --color-sidebar: #0b0f19;
  --color-sidebar-foreground: #ffffff;
  --color-sidebar-primary: #ec4899;
  --color-sidebar-primary-foreground: #000000;
  --color-sidebar-accent: #111827;
  --color-sidebar-accent-foreground: #ffffff;
  --color-sidebar-border: rgb(255 255 255 / 8%);
  --color-sidebar-ring: #ec4899;
}

html, body, #__nuxt {
  height: 100%;
}

* {
  scrollbar-color: var(--color-primary) var(--color-primary-foreground);
}
*::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
}
*::-webkit-scrollbar-track {
  background: var(--color-primary-foreground);
}