.dialog-area
  @apply tw-relative tw-inline-block
.index-page
  @apply tw-bg-player-50 tw-bg-opacity-5 tw-grid tw-h-full tw-gap-x-3 tw-gap-y-3
  grid-template-areas: 'fileInput video' 'cue video' 'timeline timeline'
  grid-template-rows: min-content 1fr auto
  grid-template-columns: 4fr 8fr
  .input-area
    grid-area: fileInput

  .level-slider
    @apply tw-pr-8
    > *
      --v-theme-surface-variant: var(--tw-colors-player-500)
.video-area
  grid-area: video
.cue-area
  @apply tw-relative tw-overflow-y-scroll
  grid-area: cue
  .cue-add-btn
    --v-theme-surface: var(--tw-colors-player-600)
    --v-theme-on-surface: var(--tw-colors-white)
    @apply tw-absolute tw-bottom-1 tw-left-1 tw-right-1 tw-z-10
.wave-area
  grid-area: timeline
  @apply tw-relative tw-overflow-hidden tw-select-none
  .time-line-canvas
    --time-line-font-color: var(--tw-colors-player-900)
    --time-line-mark-color: var(--tw-colors-player-600)
  .wave-line-canvas
    --wave-line-bar-color: var(--tw-colors-player-300)
  .subtitle-area
    @apply tw-relative
    min-height: 50px
    transform: translateX(var(--scroll-position))
    width: var(--display-width)
    :global(.cue-bar)
      @apply tw-absolute tw-overflow-hidden
      transform: translateX(var(--cue-position))
      width: var(--cue-display-width)
      height: 30px
      top: 10px
      > span
        @apply tw-flex tw-h-full tw-w-full tw-overflow-hidden tw-items-center
        padding: 0 8px
        > *
          @apply tw-w-full tw-overflow-hidden tw-text-ellipsis
          box-orient: vertical
          -webkit-box-orient: vertical
          -webkit-line-clamp: 1
          -moz-box-orient: vertical
  .wave-area-cursor
    @apply tw-h-full tw-w-full tw-top-0 tw-left-0 tw-absolute tw-transition-opacity tw-duration-200
    .cursor-area, .hover-cursor
      @apply tw-h-full tw-absolute tw-flex tw-justify-center tw-bg-transparent
      width: 1px
      transform: translateX(var(--cursor-position))
      .cursor
        @apply tw-h-full tw-bg-player-400
        min-width: 4px
    .hover-cursor
      @apply tw-pointer-events-none
      &.display
        .cursor
          @apply tw-bg-opacity-40
      .cursor
        @apply tw-bg-opacity-0