@reference '~/assets/styles/init.css';

.video-player {
  @apply relative h-full w-full
}
.video-js,
.video-js.vjs-fill {
  width: 100% !important;
  height: 100% !important;
  padding-top: 0 !important;
}